*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Muli", sans-serif;
}

::selection {
    background-color: $color-primary;
    color: white;
}

html {
    height: 100%;
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

}

body {

    box-sizing: border-box;
    padding: 0rem;
    font-weight: 600;
    line-height: 1.7;
    background-color: $color-grey-light;
    color: $color-grey-dark;
    height: 100%;
    select {
        /* styling */
        background-color: white;
        border: thin solid $color-primary;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
      
        /* reset */
      
        margin: 0;      
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;

      }
    button {
        border-radius: 4rem;
        cursor: pointer;
        &:hover{
            transform: translateY(-.35rem);
            transition: all .2s ;
            box-shadow: 1px 4px 5px rgba($color: #000000, $alpha: .3);

        }
    
    }
}