@import "./variables.scss";
@import "./animation.scss";
@import "./base.scss";
@import "./sign_in.scss";
@import "./head.scss";
@import "./search_history.scss";
@import "./book_content.scss";

.container_library {
  display: flex;
  height: 100%;
  background-color: $color-grey-light;
  border: 0.8rem solid white;
  position: relative;
  justify-content: space-between;
  // background-image: url("../images/30813880_2469006286458573_1283058319142475083_o.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  .library_date_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    .today {
      width: 100%;
      height: auto;
      font-size: 1rem;
      color: rgba($color: $color-green, $alpha: 1);
      letter-spacing: 1rem;
      margin-bottom: 1%;
      font-weight: 600;
    }

    .date {
      width: 100%;
      height: auto;
      font-size: 1rem;
      color: rgba($color: $color-grey-dark, $alpha: 0.5);
      letter-spacing: 1rem;
      margin: 0 0 1.5% 0;
      margin-bottom: 1%;
    }
  }

  .library_right_container {
    width: 26%;

    @include respond(tab-land) {
      width: 40%;
    }
    @include respond(phone) {
      width: 0%;
    }
  }

  .library_new_content {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 0 2%;
    display: flex;
    flex-flow: column;

    @include respond(phone) {
      padding: 0 0;
    }

    .warningMsg {
      color: $color-orange;
      font-size: $size-small;
      padding: 1.5rem 0 1.5rem 0;
      width: 100%;
      text-align: right;
      @include respond(phone) {
        padding: 0 0 1.5rem 0;
      }
    }

    .library_new_content_container {
      width: 100%;
      height: 100%;
      margin-bottom: 6%;
      background-color: white;
      font-size: $size-content;
      color: $color-grey-dark;
      padding: 2rem;
      line-height: 4rem;
      border: none;
      border-radius: 0.7rem;
      box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.07);
      resize: none;
      @include respond(phone) {
        font-size: $size-normal;
        line-height: 3.4rem;
      }
    }

    .library_new_title {
      margin-bottom: 1.6rem;
      padding-left: 2rem;
      background-color: white;
      border-radius: 0.8rem;
      display: block;
      width: 100%;
      height: 7rem;
      border: 0px;
      box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.07);
      font-size: 2rem;
      font-weight: 700;
      color: $color-grey-dark;
      @include respond(phone) {
        font-size: $size-normal;
        font-weight: 700;
        line-height: 3.4rem;
      }
    }

    .library_left_top {
      margin: 5rem 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include respond(phone) {
        margin: 2rem 0 0;
      }
    }

    .library_left_top_new_content {
      margin: 5rem 0 0 0;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      @include respond(phone) {
        margin: 2rem 0 0;
      }
    }

    .library_greeting {
      font-size: $size-large;
      color: $color-primary;
      font-weight: 400;
      @include respond(phone) {
        line-height: 3rem;
        font-size: $size-medium;
      }
    }

    .library_yourName {
      color: $color-orange;
      margin-left: 0.5rem;
      margin-right: 1rem;
      font-weight: 800;
    }
  }

  .library_left_container {
    width: 74%;
    position: relative;
    height: auto;
    padding: 5rem 1rem 0 2%;
    display: flex;
    flex-flow: column;

    @include respond(tab-port) {
      width: 60%;
    }

    @include respond(phone) {
      width: 100%;
      padding: 5rem 1rem 0 4%;
    }

    .search_panel_switch {
      position: absolute;
      width: 3.3rem;
      height: 6.6rem;
      border: none;
      right: 0;
      top: 50%;
      border-radius: 4rem 0 0 4rem;
      font-size: 4rem;
      color: rgba($color: $color-grey-dark, $alpha: 0.4);
      text-align: right;
      align-self: center;
      line-height: 3.2rem;
      font-weight: 100;
      display: none;
      z-index: 15000;
      cursor: pointer;
      transform: scaleX(0.4);
      padding: 1rem 1rem;
      @include respond(phone) {
        display: block;
      }
    }

    .library_left_top {
      margin: 5rem 0 2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include respond(tab-port) {
        margin: 2rem 0 3rem 0;
      }
      @include respond(phone) {
        margin: 1.5rem 0 3rem 0;
      }
      .addBtn {
        width: 4.2rem;
        height: 4.2rem;
        padding: 0;
        margin: 0 1rem 0 5%;
        border: none;
        background-color: white;
        @include respond(phone) {
          width: 3.2rem;
          height: 3.2rem;
        }
      }
    }

    .library_greeting {
      font-size: $size-large;
      color: $color-primary;
      font-weight: 400;
      @include respond(phone) {
        line-height: 3rem;
        font-size: $size-medium;
      }
    }

    .library_yourName {
      color: $color-orange;
      margin-left: 0.5rem;
      margin-right: 1rem;
      font-weight: 600;
    }
  }

  .groupBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 0;
    @include respond(phone) {
      margin: 2rem 0;
    }
    .saveBtn {
      display: flex;
      height: 4rem;
      margin-left: 1.2rem;
      padding: 0 5rem;
      letter-spacing: 0.1rem;
      font-weight: 700;
      border: none;
      background-color: $color-primary;
      color: white;
      align-items: center;
      justify-content: center;
    }

    .resetBtn {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      border: none;
      background-color: transparent;
      opacity: 0.4;
      position: relative;
      margin-left: 2rem;

      &:hover {
        transform: translateY(0rem);
        transition: all 0.2s;
        box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
      }
    }

    .resetBtn_img {
      display: inline-block;
      width: 2.6rem;
      height: 2.6rem;
      border: none;
      margin: 0 auto;
    }

    .cancelBtn {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      border: none;
      background-color: transparent;
      opacity: 0.4;
      position: relative;
      &::after {
        content: "";
        width: 1px;
        height: 50%;
        position: absolute;
        background-color: $color-grey-dark;
        right: -1rem;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover {
        transform: translateY(0rem);
        transition: all 0.2s;
        box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
      }
    }
  }

  .cancelBtn_img {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    margin: 0 auto;
  }

  .addImg {
    width: 4.2rem;
    height: 4.2rem;
    @include respond(phone) {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  .library_book_container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    height: 100%;
    padding-bottom: 1.2rem;
    position: relative;
    .loading {
      position: relative;
      top: 40%;
      display: block;
      width: 5rem;
      height: 5rem;
      margin: 0 auto;
      border-radius: 20rem;
      object-fit: cover;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.book_container_out {
  position: relative;
  perspective: 1920px;
}

.book_container {
  position: relative;
  display: block;
  width: 22rem;
  height: 15rem;
  margin-right: 1.2rem;
  margin-bottom: 1.4rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem 0 0 0.3rem;
  transform-origin: left center;
  z-index: 100;
  animation: topDown_book 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  &:hover {
    box-shadow: 8px 0 15px rgba($color: #000000, $alpha: 0.2);
    transform: rotate3d(0, 1, 0, -17deg);
  }
  transition: all 0.2s;
  @include respond(tab-port) {
    width: 12.4rem;
    height: 16rem;
  }
  @include respond(phone) {
    width: 12.4rem;
    height: 16rem;
  }

  &_bg {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 94.4%;
    height: 15rem;
    margin-right: 1.2rem;
    margin-bottom: 1.4rem;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 0.3rem 0 0 0.3rem;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    z-index: 1;
    animation: topDown_book 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.2s;
    @include respond(tab-port) {
      width: 12.4rem;
      height: 16rem;
    }
    @include respond(phone) {
      width: 12.4rem;
      height: 16rem;
    }
  }

  .deleteBtn {
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 4rem;
    background-color: white;
    z-index: 15000;
    position: absolute;
    right: -1rem;
    top: -1.4rem;
    display: flex;
    align-items: center;
    color: $color-grey-dark;
    justify-content: center;
    font-size: 1rem;
    font-weight: 900;
    border: 1px solid $color-grey-dark;
  }

  .book_cover {
    display: flex;
    border: 1px rgba($color: #000000, $alpha: 0.6) solid;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem 0 0 0.4rem;
    padding: 2.6rem;
    padding-top: 2rem;
    padding-bottom: 0.8rem;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    @include respond(phone) {
      padding: 1.8rem;
      padding-top: 1.2rem;
      padding-bottom: 0.6rem;
    }

    .book_cover_color {
      width: 2%;
      height: 110%;
      background-color: $color-primary;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 2000;
    }
    .book_title {
      color: $color-grey-dark;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.6rem;
      @include respond(tab-port) {
        font-size: 1.35rem;
        line-height: 2.3rem;
      }
      @include respond(phone) {
        font-size: 1.35rem;
        line-height: 2.3rem;
      }
    }
    .book_page_container {
      text-align: right;
      color: $color-primary;
      .book_searchedWords {
        color: $color-grey-dark;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, 0%, 0) scale3d(0.9, 1.1, 1);
  }
  100% {
    transform: translate3d(0, 20%, 0) scale3d(1, 0.9, 1);
  }
}

.minimal {
  width: 100% !important;
  background-color: $color-grey-light;
  border-radius: 0.5rem;
  border-width: 0;
  height: $height-select;
  margin: 0 auto;
  color: $color-primary;
  font-weight: 500;
  font-size: $size-normal;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      $color-grey-dark 50%
    ),
    linear-gradient(135deg, $color-grey-dark 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.75em;
  background-size: 5px 5px, 5px 5px, 1px 1em;
  background-repeat: no-repeat;
}

.minimal:focus {
  background-image: linear-gradient(
      45deg,
      $color-secondary 50%,
      transparent 50%
    ),
    linear-gradient(135deg, transparent 50%, $color-secondary 50%),
    linear-gradient(to top, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.75em;
  background-size: 5px 5px, 5px 5px, 1px 1em;
  background-repeat: no-repeat;
  border-color: $color-secondary;
  outline: 0;
}

.empty {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  align-items: center;
  &_str {
    color: rgba($color: $color-primary, $alpha: 0.3);
    font-size: $size-normal;
    text-align: center;
    margin-top: 1rem;
    font-weight: 400;
  }
  &_img {
    width: 4.4rem;
    height: auto;
  }
}

.empty_history {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  align-items: center;
  &_str {
    color: rgba($color: $color-primary, $alpha: 0.3);
    font-size: $size-normal;
    text-align: center;
    margin-top: 1rem;
    font-weight: 400;
  }
  &_img {
    width: 4.4rem;
    height: auto;
  }
}

.btnInnerStyle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnImg{
  width:auto;
  height:1.3rem;
  margin-right: .7rem;
  opacity: .9;
}

.dialogueContainer{
  width: 100%;
  height:100%;
  display: fixed;
}

.dialogueStyle{
  width:40rem;
  height:30%;
  font-size: $size-normal;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: $color-panel-light;
  border: 1px rgba($color: $color-grey-dark, $alpha: .8) solid;
  box-shadow: 0.2rem 0.2rem 1rem rgba($color: #000000, $alpha: 0.2);
  z-index: 20000;
  animation: topDown 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translate(-20rem, -50%);
  padding: 5rem;
  justify-content: center;
  position: relative;
  .diaLogueInput{
      width: 100%;
      min-width: 20rem;
      border-radius: 0.5rem;
      height: $height-input;
      margin: 1rem 0 3rem 0;
      padding: 1rem;
      border: 1px solid rgba($color: grey, $alpha: .3);
  }
  .dialogueTitle{
    font-size: $size-normal;
    color: $color-grey-dark;
    font-weight: 400;
    line-height: 3rem;
  }
  .closeBtnStyle{
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding:1rem;
    background-color: transparent;
  }
}

.dialogueBtnStyle{
  padding: 1.4rem 1rem;
  background-color: $color-primary;
  width: 50%;
  margin-top: 1rem;
  align-self: flex-end;
}

.btnBackground{
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  background-color: rgba($color: #000000, $alpha: .2);
  z-index: 19999;
}