@import "./variables.scss";
@import "./animation.scss";
@import "./base.scss";

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgba($color: #000000, $alpha: 0.1);
  border-radius: 2rem;
  border: 1px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #000000, $alpha: 0.6);
}

.container_init {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg_signin.jpg");
  background-position: bottom;
  background-color: $color-grey-light;
  border: 0.8rem solid white;
  background-size: cover;
  position: relative;

  .sign_in_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    animation: topDown 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    input {
      width: 30%;
      min-width: 20rem;
      max-width: 22rem;
      border-radius: 0.5rem;
      height: $height-input;
      margin-top: 1rem;
      padding: 1rem;
      border: 1px solid $color-grey-light;
    }

    button {
      width: 30%;
      min-width: 20rem;
      max-width: 22rem;
      height: 4.4rem;
      margin-top: 3rem;
      border: none;
      background-color: $color-primary;
      color: white;
    }

    .fb_btn {
      background-color: #587ecf;
      margin-top: 1rem;
    }

    .message {
      margin-top: 1.6rem;
      font-size: $size-small;
      color: $color-orange;
    }

    .logo_signin {
      width: 6.2rem;
      height: auto;
      margin-bottom: 1rem;
      animation: spinner 2s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .sign_in_title {
      font-size: 3.4rem;
      font-weight: 400;
      margin-bottom: 2rem;
      color: $color-primary;
    }
    .sign_switch {
      margin-top: 1.8rem;
      text-decoration: underline;
      color: $color-grey-dark;
    }
  }
}

.container_library {
  display: flex;
  height: 100%;
  background-color: $color-grey-light;
  border: 0.8rem solid white;
  position: relative;
  justify-content: space-between;
  // background-image: url("../images/30813880_2469006286458573_1283058319142475083_o.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  .library_date_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    .today {
      width: 100%;
      height: auto;
      font-size: 1rem;
      color: rgba($color: $color-green, $alpha: 1);
      letter-spacing: .5rem;
      margin-bottom: 1%;
      font-weight: 600;
    }

    .date {
      width: 100%;
      height: auto;
      font-size: 1rem;
      color: rgba($color: $color-grey-dark, $alpha: 0.5);
      letter-spacing: .5rem;
      margin: 1.5% 0;
      margin-bottom: 1%;
    }
  }

  .library_right_container {
    width: 30%;
    min-width: 25rem;
  }

  .library_new_content {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 0 2%;
    display: flex;
    flex-flow: column;

    .library_new_content_container {
      width: 100%;

      height: 100%;
      margin-bottom: 6%;
      background-color: white;
      font-size: $size-content;
      color: $color-grey-dark;
      padding: 3rem;
      line-height: 4rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0.7rem 0.7rem 2rem rgba(0, 0, 0, 0.07);
    }

    .library_new_title {
      margin-bottom: 1rem;
      padding-left: 4rem;
      background-color: white;
      border-radius: 1rem;
      display: block;
      width: 100%;
      height: 10rem;
      border: 0px;
      box-shadow: 0.7rem 0.7rem 2rem rgba(0, 0, 0, 0.07);
      font-size: 2rem;
      font-weight: 400;
      color: $color-grey-dark;
    }

    .library_left_top {
      margin: 5rem 0 5rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .library_greeting {
      font-size: $size-large;
      color: $color-primary;
      font-weight: 400;
    }

    .library_yourName {
      color: $color-orange;
      margin-left: 0.5rem;
      margin-right: 1rem;
      font-weight: 800;
    }
  }

  .library_left_container {
    width: 70%;
    position: relative;
    height: auto;
    padding: 5rem 1rem 0 2%;
    display: flex;
    flex-flow: column;

    .search_panel_switch {
      position: absolute;
      width: 2.2rem;
      height: 4.4rem;
      background-color: white;
      border: none;
      right: 0;
      top: 50%;
      border-radius: 4rem 0 0 4rem;
      font-size: $size-large;
      color: $color-grey-dark;
      padding-right: 0.3rem;
      text-align: right;
      align-self: center;
      font-weight: 300;
    }

    .library_left_top {
      margin: 5rem 0 5rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .addBtn {
        width: 4.2rem;
        height: 4.2rem;
        padding: 0;
        margin: 0 0 0 5%;
        border: none;
        background-color: white;
      }
    }

    .library_greeting {
      font-size: $size-large;
      color: $color-primary;
      font-weight: 400;
    }

    .library_yourName {
      color: $color-orange;
      margin-left: 0.5rem;
      margin-right: 1rem;
      font-weight: 600;
    }
  }

  .groupBtn {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .saveBtn {
    display: flex;
    height: 4rem;
    margin-left: 1.2rem;
    padding: 0 4rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    border: none;
    background-color: $color-orange;
    color: white;
    align-items: center;
    justify-content: center;
  }

  .resetBtn {
    display: inline-block;
    height: 4rem;
    padding: 0.5rem 2rem;
    border: 1px solid $color-primary;
    background-color: transparent;
    color: $color-primary;
    margin-left: 1.2rem;
    font-weight: 500;
  }

  .cancelBtn {
    display: inline-block;
    height: 4rem;
    padding: 0.5rem 2rem;
    border: 1px solid $color-primary;
    background-color: transparent;
    color: $color-primary;
    font-weight: 500;
  }

  .addImg {
    width: 4.2rem;
    height: 4.2rem;
  }

  .library_book_container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    height: 100%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    .loading {
      position: relative;
      top: 35%;
      display: block;
      width: 5rem;
      height: 5rem;
      margin: 0 auto;
      border-radius: 20rem;
      object-fit: cover;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.book_container {
  position: relative;
  display: block;
  width: 15rem;
  height: 19rem;
  margin-right: 1.2rem;
  margin-bottom: 1.4rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem 0 0 0.3rem;
  &:hover {
    box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: 0.3);
    transform: translateX(-5px) rotate3d(0, 0, 1, 5deg);
  }
  transition: all 0.1s;

  .deleteBtn {
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 4rem;
    background-color: white;
    z-index: 15000;
    position: absolute;
    right: -1rem;
    top: -1.4rem;
    display: flex;
    align-items: center;
    color: $color-grey-dark;
    justify-content: center;
    font-size: 1rem;
    font-weight: 900;
    border: 1px solid $color-grey-dark;
  }

  .book_cover {
    display: flex;
    border: 1px rgba($color: #000000, $alpha: 0.6) solid;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem 0 0 0.4rem;
    padding: 2.6rem;
    padding-top: 2rem;
    padding-bottom: 0.8rem;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    .book_cover_color {
      width: 3%;
      height: 110%;
      background-color: $color-primary;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 2000;
      &::before {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background-color: rgba($color: white, $alpha: 0.2);
        margin-left: 0px;
      }
    }
    .book_title {
      color: $color-grey-dark;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.6rem;
    }
    .book_page_container {
      margin: 0 auto;
      color: $color-primary;
      letter-spacing: 1px;
      .book_page {
        color: $color-orange;
        font-weight: 900;
      }
    }
  }
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, 0%, 0) scale3d(0.9, 1.1, 1);
  }
  100% {
    transform: translate3d(0, 20%, 0) scale3d(1, 0.9, 1);
  }
}

.search_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 5rem;
  line-height: 2.1rem;
  background-color: white;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;

  .loading {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 20rem;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  ul {
    margin-top: 2rem;
    padding-top: 2rem;
    overflow: auto;

    li {
      list-style: none;
      padding: 0% 7% 5rem 10%;
      position: relative;
      div {
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
      }
      .deleteBtn {
        cursor: pointer;
        width: 2.2rem;
        height: 2.2rem;
        z-index: 15000;
        position: absolute;
        right: 2rem;
        top: 0.1rem;
        display: flex;
        align-items: center;
        color: $color-grey-medium;
        justify-content: center;
        font-size: 1rem;
        font-weight: 900;
      }
      .s_container {
        position: relative;
      }
      .s_times {
        position: absolute;
        right: 2rem;
        top: 0rem;
        color: $color-primary;
        background-color: $color-yellow;
        font-size: 1.2rem;
        padding: 0.1rem 0.8rem;
        border-radius: 5rem;
        font-weight: 600;
        &_hot {
          position: absolute;
          right: 2rem;
          top: 0rem;
          font-size: 1.2rem;
          padding: 0.1rem 0.8rem;
          border-radius: 5rem;
          font-weight: 600;
          background-color: $color-red;
          color: white;
          animation: jump 0.5s linear alternate infinite;
        }
        &_init {
          position: absolute;
          right: 2rem;
          top: 0rem;
          font-size: 1.2rem;
          padding: 0.1rem 0.8rem;
          border-radius: 5rem;
          font-weight: 600;
          background-color: $color-grey-light;
          color: $color-grey-dark;
        }
      }
      div {
        color: $color-grey-dark;
        line-height: 2.4rem;
        font-size: 1.5rem;
      }
      .s_origin {
        font-size: $size-small;
        color: rgba($color: #000000, $alpha: 0.4);
        line-height: 1.9rem;
        margin-bottom: .8rem;
      }
      .s_word {
        display: block;
        font-size: 1.7rem;
        font-weight: 800;
        color: $color-primary;
        margin-bottom: 1rem;
      }
      .s_phonetic {
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-orange;
        margin-top: 0rem;
        margin-bottom: 0.5rem;
        letter-spacing: 1px;
      }
      .s_detail {
        font-size: $size-s-detail;
        color: $color-grey-dark;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
        font-weight: 500;
      }
      .s_meaning {
        font-size: $size-normal;
        color: $color-green;
        margin-top: 0.5rem;
        &::before {
          content: "-";
          margin-right: 1rem;
        }
      }
      .s_block {
        display: inline-block;
        font-size: 1.3rem;
        padding: 0.1rem 0.8rem;
        font-weight: 700;
        margin-top: 1.1rem;
        margin-left: -0.8rem;
        margin-bottom: 0.6rem;
        text-underline-position: below;
      }
      .s_definition {
        font-size: $size-s-detail;
        color: $color-grey-dark;
      }
      .s_example {
        font-size: $size-s-detail;
        color: grey;
        margin-bottom: 0rem;
      }
      .s_synonyms {
        font-size: 1.2rem;
        color: $color-secondary;
        line-height: 0rem;
        font-weight: 600;
      }
      .s_speech {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 800;
        margin-left: -1.1rem;
        margin-top: 1rem;
        &::before {
          content: "-";
          font-weight: 800;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .search_title {
    color: $color-primary;
    font-size: $size-small;
    letter-spacing: .5rem;
    font-weight: 400;
    margin: 4.2% auto 2% auto;
    &::before {
      content: "-  ";
    }
    &::after {
      content: "  -";
    }
  }
  select {
    width: 80%;
    min-width: 20rem;
    background-color: $color-grey-light;
    border-radius: 0.5rem;
    border-width: 0;
    height: $height-select;
    margin: 3% auto;
    color: $color-primary;
    font-weight: 500;
    font-size: $size-normal;
  }
  .search_radio_container {
    font-size: $size-normal;
    display: flex;
    color: $color-primary;
    align-items: center;
    margin: 4% auto;
    * {
      margin-right: 1rem;
    }
    .search_radio {
      width: 2rem;
      height: 2rem;
      background-color: $color-primary;
    }
    .search_radio_divider {
      margin: 0 2rem 0 1rem;
      font-size: $size-small;
      color: $color-primary;
    }
  }
}

.bookContent {
  display: block;
  font-size: $size-content;
  font-weight: 500;
  width: 100%;
  height: auto;
  color: $color-grey-dark;
  padding: 3%;
  line-height: 4rem;
  -webkit-touch-callout: none !important;
}
.bookTitle {
  display: block;
  font-size: $size-content;
  font-weight: 500;
  width: 100%;
  height: auto;
  color: $color-grey-dark;
  padding: 6% 7% 0 7%;
  text-align: center;
}
.container_book {
  background-color: $color-grey-light;
  border: 0.8rem solid white;
  width: 100%;
  height: 100%;
  .btns_leftTop {
    display: flex;
    width: 12rem;
    height: 4rem;
    position: fixed;
    left: 0%;
    top: 0%;
    padding-right: 1rem;
    padding-bottom: 0rem;
    background-color: white;
    border-radius: 0 0 10rem 0;
    z-index: 10000;

    .back {
      background-color: white;
      width: 50%;
      height: 100%;
      border: none;
      z-index: 10000;
      .back_img {
        width: 1.5rem;
        height: 1.3rem;
        opacity: 0.8;
      }
      &:hover {
        box-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 0.3);
      }
    }

    .settings {
      background-color: white;
      width: 40%;
      height: 100%;
      border: none;
      z-index: 10000;

      .settings_img {
        width: 1.6rem;
        height: 1.6rem;
        opacity: 0.8;
      }
      &:hover {
        box-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 0.3);
      }
    }
  }

  .turnOffSettings {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba($color: #000000, $alpha: 0);
  }

  .popupSearchContainer {
    width: 20%;
    min-width: 35rem;
    font-size: $size-normal;
    font-weight: 500;
    display: flex;
    line-height: 1.6;
    flex-direction: column;
    padding: 1.5rem 2rem 2rem 2rem;
    position: fixed;
    border-radius: 1.5rem;
    background-color: #fffecc;
    border: 1px $color-grey-dark solid;
    box-shadow: 0.2rem 0.2rem 0.6rem rgba($color: #000000, $alpha: 0.2);
    z-index: 20000;

    .holdScroll {
      overflow: auto;
      padding: 0rem 2rem 1rem 2rem;
      height: 100%;
      color: $color-grey-dark;
    }
    .s_container {
      position: relative;
    }

    div {
      color: $color-grey-dark;
      line-height: 2.4rem;
      font-size: 1.7rem;
    }
    .s_origin {
      font-size: $size-small;
      color: rgba($color: #000000, $alpha: 0.4);
      line-height: 1.9rem;
    }
    .s_times {
      display: none;
      &_hot {
        display: none;
      }
      &_init {
        display: none;
      }
    }
    .s_word {
      display: block;
      font-size: 2.3rem;
      font-weight: 700;
      color: $color-grey-dark;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    .s_phonetic {
      font-size: 1.4rem;
      font-weight: 600;
      color: $color-orange;
      margin-top: 0rem;
      margin-bottom: 0.5rem;
      letter-spacing: 1px;
    }
    .s_detail {
      font-size: $size-s-detail;
      color: $color-grey-dark;
      margin-top: 0.5rem;
      margin-bottom: 0rem;
      font-weight: 500;
    }
    .s_meaning {
      font-size: $size-normal;
      color: $color-green;
      margin-top: 0.5rem;
      &::before {
        content: "-";
        margin-right: 1rem;
      }
    }
    .s_block {
      display: inline-block;
      font-size: 1.4rem;
      padding: 0.1rem 0.8rem;
      font-weight: 400;
      margin-top: 1.1rem;
      margin-left: -0.8rem;
      margin-bottom: 0.6rem;
    }
    .s_definition {
      font-size: $size-s-detail;
      color: $color-grey-dark;
    }
    .s_example {
      font-size: $size-s-detail;
      color: grey;
      margin-bottom: 0rem;
    }
    .s_synonyms {
      font-size: 1.3rem;
      color: $color-secondary;
      line-height: 0rem;
      font-weight: 500;
    }
    .s_speech {
      display: inline-block;
      font-size: 1.7rem;
      font-weight: 800;
      margin-left: -1.1rem;
      margin-top: 1rem;
      &::before {
        content: "-";
        font-weight: 800;
        margin-right: 0.5rem;
      }
    }
  }

  .turnOffPopup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-color: rgba($color: #000000, $alpha: 0);
  }
  .viewContainer {
    font-size: $size-normal;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    min-width: 30rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: $color-panel-light;
    border: 1px $color-grey-dark solid;
    box-shadow: 0.2rem 0.2rem 1rem rgba($color: #000000, $alpha: 0.2);
    z-index: 20000;
    .view_item {
      height: 5rem;
      display: flex;
      align-items: center;
      input {
        margin: 0 0.4rem 0 0;
        &:not(:first-child) {
          margin: 0 0.4rem 0 1.9rem;
        }
      }

      .view_item_size {
        display: flex;
        align-items: center;
      }

      .view_item_A_big {
        font-size: $size-medium;
        &::after {
          content: "|";
          bottom: 0.2rem;
          position: relative;
          font-size: $size-small;
          vertical-align: middle;
          margin: 0 1.5rem;
        }
      }

      .view_item_A_small {
        font-size: $size-normal;
      }

      .view_item_bg {
        display: flex;
        align-items: center;
        input {
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 0.6rem;
          margin-right: 1rem;
          border: 1px solid $color-grey-dark;
        }
        .view_item_bg_color_grey {
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 0.6rem;
          background-color: #eeeeee;
          border: 1px solid $color-grey-dark;
        }
        .view_item_bg_color_yellow {
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 0.6rem;
          background-color: #f6efdc;
          border: 1px solid $color-grey-dark;
        }
        .view_item_bg_color_peach {
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 0.6rem;
          background-color: #edd1b0;
          border: 1px solid $color-grey-dark;
        }
      }
    }
    .view_item_title {
      width: 20%;
      min-width: 12rem;
    }
  }
}

.minimal {
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      $color-grey-dark 50%
    ),
    linear-gradient(135deg, $color-grey-dark 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.75em;
  background-size: 5px 5px, 5px 5px, 1px 1em;
  background-repeat: no-repeat;
  width: 100%;
}

.minimal:focus {
  background-image: linear-gradient(
      45deg,
      $color-secondary 50%,
      transparent 50%
    ),
    linear-gradient(135deg, transparent 50%, $color-secondary 50%),
    linear-gradient(to top, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.75em;
  background-size: 5px 5px, 5px 5px, 1px 1em;
  background-repeat: no-repeat;
  border-color: $color-secondary;
  outline: 0;
}

.header_library {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-primary;
  height: 5rem;
  align-items: center;
  padding-left: 2.5%;
  z-index: 22000;
  letter-spacing: 0.08rem;
  .logo_topRight {
    display: flex;
    align-items: center;
    .tutorial {
      display: flex;
      align-items: center;
    }
    .contact {
      display: flex;
      align-items: center;
      margin-left: 2rem;
    }
    .tutorial_img {
      width: 1.3rem;
      height: 1.3rem;
    }
    .contact_img {
      width: 1.3rem;
      height: 0.9rem;
    }
    .signout {
      margin: 0 1rem;
      background-color: transparent;
      height: 4rem;
      width: 4rem;
      border: none;
      z-index: 10000;
      &:hover {
        box-shadow: -3px 4px 5px rgba($color: #000000, $alpha: 0.3);
      }

      .signout_img {
        margin-top: 0.2rem;
        width: 1.6rem;
      }
    }
  }
  .logo_small {
    display: inline-block;
    width: 10rem;
    height: auto;
  }
  .logo_container {
    display: flex;
    align-items: center;
  }
  .logo_wording {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.719);
    font-weight: 200;
    font-size: $size-small;
    
  }
  .contact_wording {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.705);
    font-weight: 300;
    font-size: $size-small;
  }
  .tutorial_wording {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.705);
    font-weight: 300;
    font-size: $size-small;
  }
}
