// colors

$color-primary: #6A4A3C;
$color-red:#CC333F;
$color-orange: #EB6841;
$color-yellow: #EDC951;
$color-green: #00A0B0;
$color-secondary: #EB6841;
$color-grey-light: #F2F2F2;
$color-grey-dark: #333333;

// numbers

$height-button: 3.6rem;
$height-input: 3.6rem;
$height-select: 4rem;

// font sizes

$size-small: 1.2rem;
$size-normal: 1.6rem;
$size-medium: 2.2rem;
$size-large: 2.6rem;

$size-s-detail: 1.4rem;